// General
// --------------
*{
	margin: 0;
	padding: 0;
}

// DOM Elements
// --------------
li{
	list-style: none;
}

// Text Classes
// --------------
.center{
	text-align: center;
}

.uppercase{
	text-transform: uppercase;
}
